.top-content-img{
    background-image: url('../../../assets/Getcare/banner-lines.png');
    background-color: #26A9E0;
    width: 100%;
    height: 600px;
    clip-path: polygon(100% 0%, 100% 74.8%, 0% 100%, 0% 100%, 0% 0%);
}
.top-content-img h1{
    color: white;
    font-size:  54px;
    text-align: center;
    padding: 80px 50px 0;
    font-weight: 900;
    line-height: 2;

}
.top-content-img p{
    color: white;
    text-align: center;
    padding: 10px 33px 10px 44px;
    font-size: 22px;
    font-weight: 300;
}
.cardssection{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.cardssection .gccards{
    width: 267px;
    height: 408px;
    box-shadow: 0 0px 10px 0 rgba(0,0,0,.1);
    border: 1px solid transparent;
    padding: 21px;
    border-radius: 10px;
}
.cardssection .gccards:hover{
    background-color: #26A9E0;
    color: white;
}

.cardssection .gccards:hover h6{
    color: white;
}
.cardssection .gccards:hover p{
    color: white;
}
.cardssection .gccards p{
    color: gray;
}

.cardssection .gccards h6{
    color: #002A56;
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
}
.cardssection .gccards:hover{
    background-color: #26A9E0;
    color: white;
}
.cardssection .sa-sprite-new {
    content: '';
    background: url(https://sanar-assets.com/images/sprite/v5/sprite.svg) no-repeat;
    display: inline-block;
    background-size: 1600px;
}

.cardssection  i {
    margin: 0 0 10px;
    width: 46px;
    height: 35px;
    margin-bottom: 15px;
}

.gccards i.sa-journey {
    background-position: 2px 0;
   
}

.gccards i.sa-ele-cardio{
    background-position: -46px 0;

}
.gccards i.sa-doc-bag{
    background-position: -90px 0;

}
.gccards i.sa-money-fill{
    background-position: -136px 0;

}

.ordersanar h2{
    text-align: center;
    margin-bottom: 90px;
    margin-top: 90px;
    color: #002A56;
    font-size: 44px;
    font-weight: 600;
}
.order-sanar-list{
    list-style: none;
    display: flex;
}
.order-sanar-list .iconpart{
    font-size: 45px;
    color: #020288;
    position: relative;

}
.order-sanar-list .iconpart::after{
    content: "";
    position: absolute;
    background-image: url('../../../assets/icon-bg.svg');
    width: 54px;
    height: 52px;
    background-size: 100%;
    left: 8px;
    
}
.order-sanar-list li{
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 38px;
    justify-content: center;
}
.order-sanar-list h3{
    color: #002A56;
    margin: 15px 0px;
    font-size: 22px;
    font-weight: 600;
    line-height: 2;
}
.order-sanar-list span{
    color: grey;
    font-weight: 300;
}

.order-sanar-list small{
    position: absolute;
    left: -28px;
    top: -12px;
    font-size: 14px;
    width: 25px;
    height: 25px;
    font-size: 14px;
    border-radius: 50%;
    background-color: #26A9E0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arr{
    color: #26A9E0;
    position: absolute;
    margin-left: 230px;
    margin-bottom: 203px;
    /* position: relative;
    bottom: 225px;
    right: 55px; */
}

.specialitysection{
    margin-top: 100px;
}
.specialitysection  h2{
    color: #002A56;
    font-size: 44px;
    font-weight: 600;
}

.specialitysection p{
    color: #4FE765;
    font-size: 14px;
    width: 235px;
    font-weight: 500;
    margin-bottom: 0px;

}
.lspart2{
    background-color: #eefdf0;
    padding: 13px 12px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    gap: 5px;
    
}

.circlecontent{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #4FE765;
    border: 10px solid #cef8d4;
}
.specialitysection i{
    font-size: 9px;
    background:#4FE765;
    color: white;
    border-radius: 50%;
    padding: 10px;
}
.tickpart{
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
    margin-top: 30px;
}

.tickpart >div{
    color: grey;
    font-size: 14px;
    display: flex;
    gap: 10px;
}

#ss{
    color: #0d6efd;
    margin-top: 10px;
    /* text-decoration: underline; */
}

.backimgcontent{
    margin-top: 100px;
    /* padding: 0px 20px; */
}

.backimgcontent .backimp1{
    background-image: url('../../../assets/Getcare/our-services-bg.svg');
    width: 560px;
    padding: 60px 30px;
    text-align: center;
    background-size: cover;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-right: 20px;
    /* padding: 0px 20px; */

}

.backimgcontent .backimp2{
    background-image: url('../../../assets/Getcare/request-now-bg.svg');
    width: 560px;
    text-align: center;
    padding: 60px 30px;
    background-size: cover;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;





}
.backimgcontent p{
    color: white;
    font-size: 14px;
    font-weight: 300;
}
.backimgcontent h3{
    color: white;
    font-size: 35px;
    font-weight: 600;
    line-height: 2;
    
}

.backimgcontent button{
    padding: 10px 25px;
    color: #26A9E0;
    background: white;
    border: 1px solid #26A9E0;
    gap: 5px;
    border-radius: 10px;
  }
  
  .backimgcontent button:hover{
    background: #002A56;
    color: white;
  }
  
  .backimgcontent button:hover i{
    color: #26A9E0;
  }
  